<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editUserId">User ID:</label>
                    <input type="text" class="form-control" id="editUserId" readonly>
                </div>
                <div class="form-group">
                    <label for="editUserFirstname">First Name:</label>
                    <input type="text" class="form-control" id="editUserFirstname">
                </div>
                <div class="form-group">
                    <label for="editUserLastname">Last Name:</label>
                    <input type="text" class="form-control" id="editUserLastname">
                </div>
                <div class="form-group">
                    <label for="editUserEmail">Email:</label>
                    <input type="email" class="form-control" id="editUserEmail">
                </div>
                <div class="form-group">
                    <label for="editUserRole">Role:</label>
                    <select class="form-control" id="editUserRole">
                        <% roles.forEach(function(role) { %>
                            <option value="<%= role.id %>"><%= role.name %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="saveUserChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>
