<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - Roles</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('./partials/rolepartials/roleTable.ejs') %>
    <%- include('./partials/scripts.ejs') %>
</body>
</html>
