<div class="modal fade" id="editOrderModal" tabindex="-1" aria-labelledby="editOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editOrderModalLabel">Edit Order Status</h5>
            </div>
            <div class="modal-body">
                <form id="editOrderForm">
                    <input type="hidden" id="editOrderId">
                    <div class="form-group">
                        <label for="editOrderStatus">Status:</label>
                        <select class="form-control" id="editOrderStatus">
                            <option value="In progress">In progress</option>
                            <option value="Complete">Complete</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="saveOrderChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>